<footer>
	<div>
		<h2>Contact me:</h2>
		<p><b>Email:</b> <a href="emailTo:bxs9775@rit.edu">bxs9775[@]rit.edu</a></p>
		<p><b>Phone:</b> &#40;802&#41;310-2588</p>
		<p><b>Linkedin:</b> <a href="https://www.linkedin.com/in/briansandon">https://www.linkedin.com/in/briansandon</a></p>
		<p><b>GitHub:</b> <a href="https://github.com/bxs9775">https://github.com/bxs9775</a></p>
	</div>
	
	<p>&copy;Brian Sandon 2017</p>
</footer>