 <header>
    <!--I did not realize svg files needed to be loaded in a different way. -->
    <a href="/">
      <img src="/assets/img/logo.svg" alt="Site logo." title = "Home" />
    </a>
    <div id="header">
      <h1>Brian Sandon</h1>
      <h2>Programmer and Philosopher</h2>
    </div>
    <nav>
      <ul id="navbar">
        <li> <a href="/">Home</a> </li>
        <li> <a href="/assets/Resume_BrianSandon.pdf" target="_blank">Resume[PDF]</a> </li>
      </ul>
    </nav>
  </header>