<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Portfolio - Brian Sandon</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script crossorigin src="http://underscorejs.org/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
</head>
<body> 
  {{> header}}
  
  <div id="mainContent">
    <div id="leftPanel">
      <div class="contentItem">
        <h2>About Me</h2>
        <p>I am a student at RIT studying for a degree in Game Design.  I am passionate about programming, math, and narrative design.</p>
      </div>
      <div id="projectList"></div>
    </div>
    <div id="sidebar" class="contentItem">
      <h2>Filters:</h2>
      <div id="filters">
      </div>
    </div>
  </div>
  
  {{> footer}}
  
  <script src="/assets/bundle.js"></script>
</body>
</html>